* {
    border: red solid 0px;
}
body {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 100);
    height: 90vh;
    font-size: 2vh;
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
}
img {
    max-width: 100%;
    image-rendering: pixelated;
}
.centered {
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
#mainsite {
    opacity: 0;
    transition: opacity 2s;
}
.revealed{
    opacity: 1 !important;
}
#file-contents {
	background-color: rgb(0, 0, 0);
	color: rgb(0, 255, 0);
	line-height: 0.4;
	font-size: 1.5vh;
	block-size: fit-content;
	transition: opacity 0.5s;
    pointer-events: all;
}
.gif-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 220px;
   /* set the height of your gif container */
    background-image: url("assets/flame.gif");
    overflow: hidden;
}
pre {
    font-family: 'Courier New', Courier, monospace;
}
a, button{
    text-decoration: none;
    background-color: rgb(32, 32, 32);
    border-radius: 5px;
    color: rgb(0, 255, 100);
    padding: 10px;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    transition: letter-spacing 0.5s;
    pointer-events: all;
}
a:hover {
    letter-spacing: 5px;
}
.slidecontainer {
    position:absolute;
    top: 5px;
    left: 5px;
    justify-content: center;
}
.slider {
    -webkit-appearance: none;
    width: 20vh;
    height: 1px;
    align-self: center;
    border-radius: 5px;
    background: #202020;
    border: rgb(0, 255, 100) dotted 1px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 255, 100);
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 255, 100);
    cursor: pointer;
}
